body {
  background-color: #F3C332;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 428px;
  height: 460.469px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 0px solid #C0C0C0;
  background: #C0C0C0;
  box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.30);
}

.title{
  color: #000;
  font-family: Ubuntu;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.part1{
  width: 141px;
  height: 22px;
  flex-shrink: 0;
}

.part2{
  width: 141px;
  height: 22px;
  flex-shrink: 0;
}

.signin-container {
  text-align: center;
}

