
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.image-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.image-list li {
  margin-right: 20px; /* Espacio entre las imágenes */
}

.image-list li.right {
  margin-right: 0; /* Elimina el margen derecho de la imagen a la derecha */
  margin-left: auto; /* Empuja la imagen a la derecha */
}
