<header>
  <div style="background-color: #c0c0c0;">
    <!-- Encabezado -->
    <header style="text-align: center;">
      <h1 style="color: #F3C332;">Menú Principal</h1>
      <button class="btn btn-danger" style="background-color: #F3C332;">Salir</button>
    </header>

<body>

  <div class="pokemon-list">
    <div class="pokemon-card">
      <h2>Inventario</h2>
      <button class="btn btn-primary">Ir</button>
    </div>
  </div>
  <div class="pokemon-list">
    <div class="pokemon-card">
      <h2>Operadores</h2>
      <button class="btn btn-primary">Ir</button>
    </div>
  </div>
  <div class="pokemon-list">
    <div class="pokemon-card">
      <h2>Clientes</h2>
      <button class="btn btn-primary">Ir</button>
    </div>
  </div>
  <div class="pokemon-list">
    <div class="pokemon-card">
      <h2>Operaciones</h2>
      <button class="btn btn-primary">Ir</button>
    </div>
  </div>
</body>

